<footer>
<div class="footer">
    <div class="primary">
        
    <section class="split about">
    <h2 class="logo">andy<b>hume.net</b></h2>
	<p>I build web sites and web applications. I currently work in the software architecture team at the Guardian in London. I also write articles for people like .net Magazine, and Computer Arts Projects and sometimes speak at conferences like South By Southwest.</p>
    </section>
    
    <section class="split elsewhere">
    <h2>elsewhere</h2>
    <ul class="sites">
    <li class="linkedin"><a href="http://www.linkedin.com/in/andyhume" rel="me">LinkedIn</a></li>
    <li class="twitter"><a href="http://twitter.com/andyhume" rel="me">Twitter</a></li>
    <li class="flickr"><a href="http://www.flickr.com/photos/95939612@N00/" rel="me">Flickr</a></li>
    <li class="stackoverflow"><a href="http://stackoverflow.com/users/46460" rel="me">Stack Overflow</a></li>
    <li class="github"><a href="http://github.com/ahume" rel="me">Github</a></li>
    <li class="lanyrd"><a href="http://lanyrd.com/people/andyhume/" rel="me">Lanyrd</a></li>
    </ul>
    </section>
    
    <section class="split legal">
    <address class="vcard"><p><small>&copy; Copyright 2005&mdash;{{ site.time | date: "%Y"}} <a class="fn url author" href="http://andyhume.net">Andy Hume</a></small></p></address>
    <p><small>All code examples are licensed under the <a href="http://sam.zoy.org/wtfpl/">WTF Public License</a></small></p>
    <p><small><a href="http://paulrobertlloyd.com/2009/06/social_media_icons">Icons</a> by PRL</small></p>
    </section>
    
    </div>
</div><!-- /.footer -->
</footer>
</body>
</html>
