<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="Andy Hume is a web developer from the UK." />
<meta name="description" content="Andy Hume, Andy, Hume, web, developer, web developer, web applications, software, clearleft, html, css, javascript, guardian" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="openid.server" href="http://www.myopenid.com/server" />
<link rel="openid.delegate" href="http://ahume.myopenid.com/" />
<script>
    (function() {
        WebFontConfig = {
            fontdeck: { id: 4607 }
        }
        var wf = document.createElement('script');
        wf.src = 'http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js'
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('head')[0];
        //s.appendChild(wf);
    })();
</script>

<link rel="stylesheet" href="http://andyhume.net/c/main950.css" type="text/css" media="screen and (min-width: 100px)" />

<title>{{ page.title }} | Andy Hume</title>

</head>
